@import "tailwindcss";

/* 공통 폰트 설정 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("/PretendardVariable.woff2") format("font-woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fbfbfb;
  font-family: "PretendardVariable";
}

/* :root {
  --color-point: #3384fa;
  --color-background: #ffffff;
  --color-text-white: #17171c;
  --color-gray-1: #f2f3f6;
  --color-logo-white: #111111;
  --color-black-chat: #f9fafb;
  --color-input-gray: #f2f3f6;
  --color-primary-purple-100: #eae6ff;
  --color-primary-purple-200: #c7bfff;
  --color-primary-purple-300: #a38bff;
  --color-primary-purple-400: #8663ff;
  --color-primary-purple-500: #704eff;
}

.dark {
  --color-point: #3384fa;
  --color-background: #17171c;
  --color-text-white: #fbfbfb;
  --color-gray-1: #2f3036;
  --color-logo-white: #eae7e6;
  --color-black-chat: #101014;
  --color-input-gray: #272932;
  --color-primary-purple-100: #a38bff;
  --color-primary-purple-200: #8663ff;
  --color-primary-purple-300: #704eff;
  --color-primary-purple-400: #5c3aff;
  --color-primary-purple-500: #4b32cc;
} */

@theme {
  --color-point: #ee7900;
  --color-background: #fbfbfb;
  --color-text-black: #17171c;
  --color-text-gray: #6b7280;
  --color-text-white: #fbfbfb;
  --color-gray-1: #2c2c35;
  --color-logo-white: #eae7e6;
  --color-black-chat: #101014;
  --color-input-gray: #272932;
  --color-point-100: #fff4e6;
  --color-point-200: #ffe0b3;
  --color-point-300: #ffc880;
  --color-point-400: #ee7900;
  --color-point-500: #d96a00;
  --color-point-600: #c25a00;
  --color-point-700: #a84a00;
  --color-hover-gray: #dbeafe;
  --color-underline-gray: #e5e7eb;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
